body{
    text-align: center;
    font-size: 18px;
    font-family:myfont;
    background-image: url('');

}

#logo{
    margin-top: 80px;
}

@font-face{
    font-family: myfont;
    src: url(Fonts/BaiJamjuree-Light.ttf);
}

/* .down{
    display: flex;
    flex-flow: row wrap;
    margin: 4rem auto;
    gap: 1.6rem;
    width: 95%;
    justify-content: center;
    height: auto;
    
} */
/* .button{
    padding: 2rem 8rem;
    border-radius: 6rem;
    border: 20px solid;
    color: #fff;
    font-size: 1.8rem;
} */

.ios {
    /* background-color: hsl(171, 81%, 75%);
    box-shadow: 2px 2px 12px hsl(171, 60%, 71%); */

        background-color: hsl(171, 66%, 44%);
        border: 20px solid;
        border-radius: 20px;
        border-style:inherit;
        box-shadow: 0px 10px 30px hsl(171, 47%, 64%);
        color: white;
        padding: 15px 32px;
        text-align: center;
        /* text-decoration: none; */
        display: inline-block;
        font-size: 16px;
      
}
.mac {
    /* background-color: hsl(233, 100%, 69%); 
    box-shadow: 2px 2px 12px hsl(233, 100%, 78%) ;   */

        background-color: hsl(233, 100%, 69%);
        border-radius: 20px;
        border: 20px solid;
        border-style:inherit;
        box-shadow: 0px 10px 30px hsl(233, 70%, 71%);
        color: white;
        padding: 15px 32px;
        text-align: center;
        /* text-decoration: none; */
        display: inline-block;
        font-size: 16px;
}

/* .ios{
    border: 20px solid;
    background-color: hsl(171, 66%, 44%);
    border-radius: 20px;
    border-style: hidden;
    margin-left: 30%;
    max-width: 15%;

}

.mac{
    border: 20px solid;
    background-color: hsl(233, 100%, 69%);
    border-radius: 20px;
    border-style: hidden;    
    margin-left: 50%;
    max-width: 15%;
    
} */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 40%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    text-align:justify;
    
  }

.pics{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
}

#imag{
    max-width: 100%;
}

.section::after{   
    content: "";
    display: table;
    clear: both;
}

.blacklist{
    float: left;
    width: 33%;
}
.itext{
    float: left;
    width: 33%;
}
.preview{
    float: left;
    width: 33%;
}

.info{
    /* border: 20px solid;
    border-style:hidden; */
    display: flex;
    background-color: hsl(200, 47%, 96%);
    column-gap: 90px;
    align-items: center;    
}
#lslogo{
    width: 40px;
    margin-left: 100px;
}
.para{
    text-align: justify;
} 

.logo{
    flex: 25%;   
}




.attribution { 
    font-size: 12px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}




@media(max-width: 450px){
    body{
        font-size: 30px;
        text-align:center;
        max-width: 100%;
        
    }

    #logo{
        margin-top: 50px;
    }
    
    
    .ios {
        
            border: 20px solid;
            border-radius: 20px;
            border-style:inherit;
            color: white;
            padding: 15px 32px;
            display: inline-block;
            font-size: 20px;
            margin-left: 15%;
    }

    .mac {
            
            border-radius: 20px;
            border: 20px solid;
            border-style:inherit;
            color: white;
            padding: 15px 32px;
            display: inline-block;
            font-size: 20px;
            margin-left: 8%;
    }

    
    .container{
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
    .text{
        font-size: 20px;
        padding-left: 20px; 
      }
    
    .pics{
        display: block;
        /* align-items: center;
        justify-content: center;
        flex-basis: 30%; */
    }
    
    #imag{
        max-width: 100%;
        white-space: nowrap;
        margin-top: 50px;
    }
    
    .section{ 
        display: block;     
        /* content: "";
        display: table;
        clear: both; */
    }
    
    .blacklist{
        width: 100%;
        display: inline-block;
        font-size: 20px;
    }
    .itext{
        width: 100%;
        display: inline-block;
        font-size: 20px;
    }
    .preview{
        width: 100%;
        display: inline-block;
        font-size: 20px;
    } 
    
    .info{
        display: inline-block;
        background-color: hsl(200, 47%, 96%);
        align-content: center;    
        width: 100%;
    }
    #lslogo{
        width: 40px;
        margin-right: 30%;
    }
    .para{
        text-align: center;
        font-size: 20px;
    } 
    
    .logo{
        margin-top: 50px;
        flex: 10%;
    }
}
